<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.prompt.mapper.SearchHistoryMapper">
    <update id="incrementSearchCount">
        update search_history
        set search_count = search_count + 1
            update_time = noe()
        where id = #{id}
    </update>
</mapper>